<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Globetrotter Travel Agency</title>
    <environment include="Development">
        <!-- dev:css -->
        <link rel="stylesheet" href="~/dist/bundle-3feb3ea3cf.vendor.css" />
        <link rel="stylesheet" href="~/dist/bundle-a031b28454.main.css" />
        <!-- endinject -->
    </environment>
    <environment exclude="Development">
        <!-- inject:css -->
        <link rel="stylesheet" href="~/dist/bundle-3feb3ea3cf.vendor.min.css" />
        <link rel="stylesheet" href="~/dist/bundle-a031b28454.main.min.css" />
        <!-- endinject -->
    </environment>
</head>
<body>   
    <partial name="_Navbar"/>
    @RenderBody()
    <partial name="_Footer"/>

    <environment include="Development">
        <!-- dev:js -->
        <script src="~/dist/bundle-721cffdef5.vendor.js"></script>
        <script src="~/dist/bundle-0dc32edab5.main.js"></script>
        <!-- endinject -->
    </environment>
    <environment exclude="Development">
        <!-- inject:js -->
        <script src="~/dist/bundle-721cffdef5.vendor.min.js"></script>
        <script src="~/dist/bundle-0dc32edab5.main.min.js"></script>
        <!-- endinject -->
    </environment>
@RenderSection("Scripts", required: false)
</body>
</html>