﻿<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar shadow-none">
        <div class="container-fluid" id="navbar-header">
            <div class="row w-100 p-0 mx-auto">
                <div class="col-10 col-lg-3">
                    <a class="navbar-brand" href="/">
                        <img class="brand-logo" src="content/img/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="col-2 d-lg-none d-flex justify-content-end">
                    <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#nav"
                            aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-12 col-lg-9 collapse navbar-collapse" id="nav">
                    <div class="row w-100 p-0 mx-auto">
                        <div class="col-lg-8 d-flex justify-content-lg-center mt-2 mt-lg-0 main-links">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Kierunki</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Katalog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Relacje</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-lg-end">
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>