﻿<div class="container-fluid py-5 my-5 position-relative">
    <div class="half-page-img">
        <div class="jarallax w-100 h-100">
            <img class="card-img-top rounded-0 jarallax-img" src="content/img/home/why-us.jpg" alt="photo">
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h3 class="h3 text-center mb-5">Dlaczego my?</h3>
                <div class="row">
                    <div class="col-1 mr-3">
                        <i class="fas fa-check-circle fa-2x text-primary"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Doświadczenie</h5>
                        <p class="grey-text">
                            Wycieczki po całym świecie organizujemy od wielu lat. Wiemy czego oczekują od nas nasi klienci.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 mr-3">
                        <i class="fas fa-check-circle fa-2x text-primary"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Pasja</h5>
                        <p class="grey-text">
                            Robimy to co kochamy. Podróże są naszą pasją, dlatego uwielbiamy je organizować.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 mr-3">
                        <i class="fas fa-check-circle fa-2x text-primary"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Głos klienta</h5>
                        <p class="grey-text">
                            Dbamy o zadowolenie i komfort naszych klientów. Wszystkie uwagi i propozycje są przez nas rozpatrywane.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>