﻿<div class="view banner jarallax">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 white-text text-center">
                    <h1 class="white-text text-uppercase font-weight-bold mb-0 pt-5 wow fadeInDown slow" data-wow-delay="0.2s">
                        <strong>Poznaj z nami świat</strong>
                    </h1>
                    <hr class="hr-light my-4 wow fadeIn slow" data-wow-delay="2s">
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown slow" data-wow-delay="1.5s">
                        <strong>Dokąd chciałbyś pojechać?</strong>
                    </h5>
                </div>
                <div class="col-lg-6 white-text text-center">
                    <div class="d-flex justify-content-center wow fadeInDown slow" data-wow-delay="1.5s">
                        <div class="md-form input-group">
                            <input class="form-control text-white bg-transparent" type="text" placeholder="" aria-label="Search">
                            <div class="input-group-append">
                                <button class="input-group-text btn btn-outline-white btn-sm my-0 mx-0 shadow-none" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>