﻿<div class="container">
    <div class="row">
        <div class="col-md-4 text-md-center">
            <div class="row">
                <div class="col-1 col-md-12 d-flex justify-content-md-center mr-5">
                    <i class="fas fa-map-marked fa-3x align-self-center text-default"></i>
                </div>
                <div class="col col-md-12">
                    <h3 class="h3 pt-3">Cały świat</h3>
                    <p>Z nami możesz pojechać do każdego zakątka globu - organizujemy wycieczki na wszystkich kontynentach.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-md-center">
            <div class="row">
                <div class="col-1 col-md-12 d-flex justify-content-md-center mr-5">
                    <i class="fas fa-certificate fa-3x align-self-center text-default"></i>
                </div>
                <div class="col col-md-12">
                    <h3 class="h3 pt-3">Profesjonalizm</h3>
                    <p>Nasze wycieczki oprowadzane są przez profesjonalnych, lokalnych przewodników.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-md-center">
            <div class="row">
                <div class="col-1 col-md-12 d-flex justify-content-md-center mr-5">
                    <i class="fas fa-handshake fa-3x align-self-center text-default"></i>
                </div>
                <div class="col col-md-12">
                    <h3 class="h3 pt-3">Wiarygodność</h3>
                    <p>Każda nasza wycieczka może zostać przez Ciebie opisana, a relacja zostanie umieszczona na stronie.</p>
                </div>
            </div>
        </div>
    </div>
</div>