﻿@model GlobetrotterTravelAgency.Models.HomeViewModels.OfferViewModel
<div class="card h-100">
        <div class="view overlay">
            <img class="card-img-top  img-fluid" src="@Model.ImageUrl" alt="photo">
            <a href="@Model.OfferUrl">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <a href="@Model.OfferUrl">
                <div class="mask rgba-white-slight"></div>
            </a>
            <h4 class="card-title h4-responsive mb-1">@Model.Title</h4>
            <span class="card-text d-block mb-2 d-flex flex-column">@string.Join(", ", @Model.Countries)</span>
            <div class="row">
                <div class="col pr-0 d-flex flex-column">
                    <span class="card-text py-1">
                        <i class="fas fa-plane"></i>
                        Wroclaw
                    </span>

                    <span class="card-text py-1">
                        <i class="far fa-calendar fa-fw"></i>
                        od @Model.DepartureDate.Value.ToShortDateString()
                    </span>

                    <span class="card-text py-1">
                        <i class="far fa-calendar fa-fw"></i>
                        do @Model.ReturnDate.Value.ToShortDateString()
                    </span>

                    <span class="card-text py-1">
                        <i class="far fa-clock fa-fw"></i>
                        @Model.Days dni
                    </span>
                </div>
                <div class="col pl-0 d-flex align-items-end text-primary justify-content-end">
                    <a class="text-primary" href="@Model.OfferUrl">
                        <span class="d-inline-block mr-1 text-lowercase card-price">@Model.Price zł</span>
                        <i class="fas fa-angle-double-right fa-1x"></i>
                    </a>
                </div>
            </div>
        </div>
</div> 
