﻿@model GlobetrotterTravelAgency.Models.HomeViewModels.OffersViewModel


    <h3 class="h3 text-center mb-4">Polecane oferty Last Minute</h3>

    <div id="swiper" class="d-flex align-items-center">
        <a id="swiper-prev" class="swiper-arrow position-absolute text-center">
            <i class="fas fa-angle-left fa-3x arrow-icon"></i>
        </a>
        <div class="swiper-container px-5 px-xl-0">
            <div class="swiper-wrapper">
                @foreach (var trip in Model.Offers)
                {
                    <div class="swiper-slide p-2 p-xl-3">
                        <partial name="_OfferCard" model="trip"/>
                    </div>
                }
            </div>
        </div>
        <a id="swiper-next" class="swiper-arrow position-absolute text-center">
            <i class="fas fa-angle-right fa-3x arrow-icon"></i>
        </a>
    </div>

