﻿<div class="container">
    <h3 class="h3 text-center mb-4">Popularne kierunki</h3>

    <div class="row d-flex">
        <div class="col-12 col-lg-8">
            <div class="row d-flex flex-wrap">
                <div class="col-12 col-lg-6 pb-3">
                    <div class="view overlay h-100">
                        <div class="card card-image" style="background-image: url(./content/img/home/popular-destination-asia.jpeg);">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-light py-5 px-4 h-100">
                                <div>
                                    <h3 class="card-title pt-2"><strong>Azja</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="card card-image" style="background-image: url(./content/img/home/popular-destination-asia.jpeg);">
                       
                        <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-light py-5 px-4 h-100">
                            <div>
                                <h3 class="card-title pt-2"><strong>Azja</strong></h3>
                                <a class="btn btn-primary"><i class="fa fa-clone left"></i>Zobacz</a>
                            </div>
                        </div>
                    </div>*@

                </div>
                <div class="col-12 col-lg-6 pb-3">
                    <div class="view overlay h-100">
                        <div class="card card-image" style="background-image: url(./content/img/home/popular-destination-africa.jpg);">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-light py-5 px-4 h-100">
                                <div>
                                    <h3 class="card-title pt-2"><strong>Afryka</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-lg-3 pt-0">
                    <div class="view overlay h-100">
                        <div class="card card-image" style="background-image: url(./content/img/home/popular-destination-south-america.jpg);">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-light py-5 px-4 h-100">
                                <div>
                                    <h3 class="card-title pt-2"><strong>Ameryka południowa</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 pt-3 pt-lg-0">
            <div class="view overlay h-100">
                <div class="card card-image" style="background-image: url(./content/img/home/popular-destination-europe.jpg);">
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-light py-5 px-4 h-100">
                        <div>
                            <h3 class="card-title pt-2"><strong>Europa</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>