﻿<main>
    <section>
        <partial name="_MainBanner"/>
    </section>
    <section class="wow fadeIn py-5 mt-5">
        <partial name="_MainFeatures"/>
    </section>

    <section class="wow fadeIn py-5">
        <partial name="_OfferCardCarousel"/>
    </section>

    <section class="wow fadeIn grey lighten-4 bg-light">
        <partial name="_AdditionalFeatures"/>
    </section>

    <section class="wow fadeIn py-5 ">
        <partial name="_PopularDestinations"/>
    </section>
</main>