﻿html,
body {
    height: 100vh;
    font-size: 0.95rem;
    color: #4f4f4f !important;

    @include md {
        font-size: 1rem;
    }
}

.banner {
    height: 100vh;
    background-image: url('/content/img/home/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1 {
        letter-spacing: 8px;
    }

    h5 {
        letter-spacing: 3px;
    }
}

.hr-light {
    border-top: 2px solid #fff;
    width: 80px;
}

.control {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.half-page-img {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 300px;

    @include lg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        height: auto
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#swiper-prev {
    left: 20px;
}

#swiper-next {
    right: 20px;
}

.swiper-arrow {
    display: none;
    width: 48px;
    height: 48px;
    z-index: 100;
    color: $primary-color;
    text-align: center;

    &:hover {
        color: white;

        &:after {
            content: "";
            left: calc(0% - 6px);
            top: calc(0% - 6px);
            width: 60px;
            height: 60px;
            opacity: 0.6;
            background-color: $primary-color;
            border-radius: 50%;
            position: absolute;
            z-index: 50;
        }
    }

    .arrow-icon {
        position: relative;
        z-index: 100;
    }
}

#swiper:hover .swiper-arrow {
    display: none;

    @include xl {
        display: block;
    }
}

.swiper-button-disabled {
    opacity: 0.3;
}

.swiper-slide {
    height: auto;
}

.card-price {
    font-size: 1.4em;
}

.card-offer-link {
    right: 0px;
    bottom: 0px;
    padding-right: inherit;
    padding-bottom: inherit;
}

.card.card-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;

    @include lg {
        min-height: 300px;
        height: 100%;
    }

    div {
        border-radius: .25rem;
    }
}

.small-banner {
    width: 100%;
    height: 300px;

    @include lg {
        min-height: 300px;
        height: 100%;
    }
}