﻿#navbar-header {
    max-width: 1500px;
    padding: 0;
    font-variant: small-caps;

    @include lg {
        .main-links a {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);

    @media only screen and (max-width: 992px) {
        background-color: #2e2e2e;
    }

    .brand-logo {
        transition: all 0.5s;
        height: 1.75rem;
        z-index: 9999;

        @include xl {
            height: 2rem;
        }
    }

    &.top-nav-collapse {
        background-color: #2e2e2e;
    }
}